<div class="container">
  <div class="row" style="padding: 10px;">
    <div class="col">
      <img src=".\assets\images\GotaDeAgua.png" 
      class="img-fluid" style="width: 100px;">
    </div>
    <div class="col-11 display-6" style="text-align: center;">
      SAIH - Sistema Automático de Información del Duero
    </div>
  </div>
  <div class="row" style="padding: 10px;">
    <div class="col">
      <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Gauging Stations">
          <app-gauging-station></app-gauging-station>
        </mat-tab>
        <mat-tab label="Pluviometric Stations">
          <app-pluviometric-stations></app-pluviometric-stations>
        </mat-tab>
        <mat-tab label="Reservoir Station">
          <app-reservoir-station></app-reservoir-station>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <div class="row" style="padding: 10px;">
    <div class="col" style="text-align: center;">
      By @jke94 (GitHub)
    </div>
  </div>
</div>